/*

Monokai style. Derived from VSCode Monokai Light (by Velichko Konstantin)
(https://marketplace.visualstudio.com/items?itemName=zoxon.monokai-light),
VSCode Monokai-Contrast (by gerane)
(https://marketplace.visualstudio.com/items?itemName=gerane.Theme-Monokai-Contrast)
and highlight.js's Monokai Sublime
*/

pre code {
  --background: white;
  --foreground: black;
  --green: #6aaf19;
  --purple: #ae81ff;
  --string: #f25a00;
}

@media (prefers-color-scheme: dark) {
  pre code {
    --background: black;
    --foreground: white;

    --green: #aaff33;
    --purple: #aa88ff; /*#ff99ff; /*aa88ff*/
    --string: #ffff88;
  }
}

.hljs-tag,
.hljs-subst {
  color: #f8f8f2;
}

.hljs-strong,
.hljs-emphasis {
  color: #a8a8a2;
}

.hljs-bullet,
.hljs-quote,
.hljs-number,
.hljs-regexp,
.hljs-literal,
.hljs-link {
  color: var(--purple);
}

.hljs-code,
.hljs-title,
.hljs-section,
.hljs-selector-class {
  color: var(--green);
  /* color: #a6e22e; */
}

.hljs-type,
.hljs-selector-id,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-addition,
.hljs-variable,
.hljs-template-variable {
  color: var(--green);
}


.hljs-params {
  /* color: #fd971f; */
  color: black;
  color: var(--foreground);
}

.hljs-variable.language_,
.hljs-title.class_,
.hljs-class
 {
  color: black;
  color: var(--foreground);
}

.hljs-strong {
  font-weight: bold;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-selector-tag,
.hljs-keyword,
.hljs-name,
.hljs-attr {
  color: #f92672;
}

.hljs-symbol,
.hljs-built_in,
.hljs-attribute {
  color: #66d9ef;
}

.hljs-deletion,
.hljs-meta,
.hljs-string {
  color: var(--string);
  /*
  inline-raw: fd971f
  info-token: 316bcd
  warn-token: cd9731
  error-token: cd3131
  */
}

.hljs-comment {
  color: #9f9f8f;
}
